@import "mocha.css";

* {
  font-family: 'SN Pro', 'Font Awesome 6 Free', sans;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @lavender;
}

#workspaces {
  /* background-color: @surface0; */
  margin-left: 0.5rem;
}

#workspaces button {
  color: @surface2;
  padding: 0.4rem;
}

#workspaces button.focused {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#tray,
#backlight,
#battery,
#pulseaudio, 
#custom-power {
  padding: 0rem 1rem;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @maroon;
}

#tray {
  margin-right: 0.5rem;
}
